.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}



.nav-items > ul {
    font-size: 20px;
  display: flex;
  padding: 0px 20px;
  list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 200px;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;

}
.search {
    padding: 10px;
}

.res-food-image {
    width: 100%;
}