.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}



.nav-items > ul {
    font-size: 20px;
  display: flex;
  padding: 0px 20px;
  list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    width: 200px;
    height: 300px;
    border: 1px solid black;
}
.search {
    padding: 10px;
}